/* Universal */
html {
  font-family: Roboto;
  font-size: 8px;
}

body {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 3rem;

}

.logo img {
  height: 7rem;
}

.logo span {
  font-size: 4rem;
}

.logo .bold {
  font-weight: bold;
  color: #005874;
}

.logo .light {
  color: #9B9B9B;
  font-weight: 300;
}

.navigation {
  margin-right: 3rem;
}

.navigation-mobile {
  display: none;
}

.navigation ul {
  display: flex;
  font-size: 3rem;
  color: #1c819e;
  transition-property: opacity;
  transition-duration: 2s;
}

.navigation ul li:hover {
  opacity: 0.5;
}

.navigation ul li {
  margin-right: 2rem;
}

.navigation #four {
  margin-right: 0;
}

@media only screen and (max-width: 860px) {

  .header {
    height: 64px;
  }

  .navigation {
    display: none;
  }

  .logo {
    display: none;
  }

  .navigation-mobile {
    display: contents;
  }

  .navigation-mobile ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .navigation-mobile .mobile-logo {
    height: 5rem;
  }

  .navigation-mobile .mobile-icon {
    height: 4rem;
  }

}

/* Banner */

.container.banner {
  display: flex;
  background-color: #005874;
  color: #e6e6d4;
  align-items: center;
  max-width: 100%;
}

.container.banner img {
  margin: 4rem 3rem 4rem 3rem;
  width: 60%;
}

.banner-content-box {
  padding-left: 1rem;
}

.banner-content-box h1 {
  font-size: 6.5rem;
  font-weight: bold;
  width: 60%;
}

.banner-content-box h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 60%;
  padding-top: 3rem;
}

.banner-cta {
  background-color: #c93d1b;
  color: white;
  font-size: 3rem;
  max-width: 60%;
  margin-top: 5rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 10px;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.banner-cta:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1480px) {

  .banner-content-box {
    max-width: 100%;
  }

  .banner-content-box h1 {
    font-size: 4rem;
  }

  .banner-content-box h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1024px) {

  .banner-content-box {
    margin: 0 auto;
  }

  .banner-content-box h1 {
    font-size: 3rem;
  }

  .banner-content-box h2 {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 860px) {
 .container.banner {
   flex-direction: column;
 }

 .container.banner img {
   width: 100%;
   margin-top: 8rem;
 }

 .banner-content-box {
   left: 0;
   width: 90%;
   margin-left: 2rem;
 }

 .banner-content-box h1 {
   font-size: 4rem;
   width: 100%;
 }

 .banner-content-box h2 {
   font-size: 2.5rem;
   width: 100%;
 }

 .banner-cta {
   margin-bottom: 4rem;
   max-width: 90%;
 }

}

/* Information Main Styling (Left column - Some code shared with Thesis) */

.container.info {
  display: flex;
  color: #232931;
}

.left-column {
  max-width: 60%;
  margin: 4rem 3rem;
}

.left-column img {
  width: 100%;
}

.left-column-text {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-bottom: 4rem;
  width: 90%;
}

.left-column h1 {
  font-size: 8rem;
  font-weight: bold;
  padding-top: 4rem;
}

.left-column p {
  padding-top: 3rem;
  font-size: 3.3rem;
  font-weight: 300;
}

.left-column .by{
  padding-top: 10rem;
}

@media only screen and (max-width: 1480px) {

  .left-column h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 560px) {
  .left-column {
    display: none;
  }

}


/* Information Main Styling (Right column - Some code shared with Thesis) */

.right-column {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  padding-top: 4rem;
  border-left: 1px solid #f5f5c6;
  align-items: space-between;
}

.info-image-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f5f5c6;
}

.info-image-box img {
  width: 35%;
  height: auto;
  margin: 3rem 3rem;
}

.info-image-box .top-image {
  margin-top: 0;
}

.info-image-box.coloured {
  background-color: #f5f5c6;
  margin-bottom: 4rem;
}

.info-image-content {
  width: 65%;
}

.info-image-box h1 {
  font-size: 5rem;
  font-weight: bold;
}

.info-image-box h2 {
  padding-top: 1rem;
  font-size: 3rem;
}

.info-image-box h3 {
  font-size: 2.5rem;
  padding-top: 1rem;
  color: #c93d1b;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.info-image-box h3:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1480px) {
  .info-image-box img {
    margin: 3rem 3rem;
  }

  .info-image-box h1 {
    font-size: 3.5rem;
  }

  .info-image-box h2 {
    font-size: 2rem;
  }

  .info-image-box h3 {
    font-size: 2rem;
   }
}

@media only screen and (max-width: 860px) {

  .info-image-box h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 660px) {

  .info-image-box h2 {
    display: none;
  }
}


@media only screen and (max-width: 560px) {

 .info-image-box {
   flex-direction: column;
   background-color: white;
 }

 .info-image-box.coloured {
   flex-direction: column;
   background-color: white;
   padding-bottom: 4rem;
   margin-bottom: 0;
 }

 .right-column {
   width: 100%;
 }

 .right-column img {
   width: 90%;
   height: 250px;
 }

.info-image-box h1 {
  font-size: 3rem;
  font-weight: bold;
 }

.info-image-box h2 {
  padding-top: 2rem;
  font-size: 2.5rem;
 }

.info-image-box h3 {
  padding-top: 2rem;
 }

.info-image-content {
   position: relative;
   right: 6rem;
 }

}

/* Courses Styling */

.container.courses {
  background-color: #f5f5c6;
}

.courses-headline {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  color: #312b30;
  padding: 4rem 0;
}

.courses-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 9rem 4rem 9rem;
}

.course-box {
  background-color: #fbd685;
  width: 30%;
  color: #312b30;
  margin-right: 4rem;
  transition-property: background-color;
  transition-duration: 750ms;
}

.course-box:hover {
  background-color: #feb062;
}

.course-box.right-side {
  margin-right: 0;
}

.course-box.top-row {
  margin-bottom: 2rem;
}

.course-box.bottom-row {
  margin-bottom: 4rem;
}

.course-box img {
  height: auto;
  width: 100%;
}

.course-info {
  padding: 2rem 0 3rem 2rem;
}

.course-info h1 {
  font-size: 4rem;
}

.course-info h2 {
  padding: 3rem 0 3rem 0;
  font-size: 2.5rem;
}

.course-info p {
  font-size: 2.5rem;
  color: #7d0000;
}


@media only screen and (max-width: 860px) {

 .courses-headline {
   background-color: white;
 }

 .courses-box {
   max-width: 100%;
   background: white;
 }

 .course-box {
   width: 80%;
   margin-right: 0;
   background-color: #f5f5c6;
   color: #312b30;
 }

 .course-box img {
   display: none;
 }

  .course-info {
    display: flex;
    align-items: center;
  }

 .course-info h2, .course-info p {
   display: none;
 }

 .course-info h1 {
   font-size: 3rem;
   font-weight: bold;
   padding-top: 1rem;
 }

}

/* Thesis Extra Styling (Left Column) */

.container.thesis {
  color: #312b30;
}

.left-column.thesis {
  margin-top: 0;
}

.thesis-title {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem 0 4rem 0;
}

.thesis-info-container {
  display: flex;
}

.left-column-text .thesis {
  font-size: 4rem;
  padding-top: 3rem;
}

.video-container video {
  width: 100%;
}

@media only screen and (max-width: 560px) {

  .left-column.thesis {
    display: contents;
  }

  .left-column-text {
    display: none;
  }

}

/* Thesis Extra Styling (Right-column) */

.right-column-thesis {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  align-items: space-between;
  margin-left: 3rem;
}

.info-image-box.no-border {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-style: none;
}


@media only screen and (max-width: 560px) {

 .right-column-thesis {
   display: none;
 }

}

/* Footer Styling */

footer {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  border-top: 1px solid grey;
  padding: 2rem 0 8rem 3rem;
  color: #f6f6f6;
  background-color: #2e282a;
}

footer span {
  padding-right: 3rem;
}

@media only screen and (max-width: 560px) {

  footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

 footer span {
   display: none;
 }
}
